HYDRASIL_SOURCE_ROOT=s3://example-hydra-db/root
HYDRASIL_CHECKPOINT_ROOT=s3://example-hydrasil/checkpoints
HYDRASIL_BRONZE_TABLE=main.hydrasil_bronze.objects
HYDRASIL_SILVER_SCHEMA=main.hydrasil_silver
DATABRICKS_HOST=https://example.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/example
DATABRICKS_TOKEN=replace-me
